<!--
<div class="container">
    <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel"  >
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="500">    
            <div class="stat-container">
                <div class="images-container">
                    <div class="image"> 
                        <img src="../../../assets/images/homeless1.jpg" alt="img" class="img">
                    </div>
                </div>
               <div id="homeless" class='spinner-holer'>
                    
                   <mat-progress-spinner
                       class="spinner-margin"
                       [color]="color"
                       [mode]="mode"
                       [diameter]="70"
                       [value]="80"
                       [strokeWidth]="10"
                   >
                   </mat-progress-spinner>
                  
                   <div class="discription-holder">
                       <div class="percent-holder">
                            <p class="Percent"><strong>20%</strong></p>
                       </div>
                        
                       <p class="description">
                        Homelessness is one of the most evident illustration of poverty and social exclusion occurring in all countries and cities, threatening the health and life of people experiencing it. It is a violation of human rights, which should not be tolerated. People becoming homeless do not only lose their houses but are also uprooted from their family and social connections.
                       </p>
                   </div>
               </div>
            </div>
            
          </div>
          <div class="carousel-item " data-bs-interval="500">    
            
            <div class="stat-container">
                <div class="image-container">
                    <div class="image">
                        <img src="../../../assets/images/hunger.jpg" alt="img" class="img">
                    </div>
                </div>
                <div id="Povert" class='spinner-holer'>

                    <mat-progress-spinner
                        class="spinner-margin"
                        [color]="color"
                        [mode]="mode"
                        [value]="90"
                        [diameter]="70"
                        [strokeWidth]="10"
                    
                        >
                    </mat-progress-spinner>
                   
                    <div class="description-holder">
                        <div class="percent-holder">
                            <p class="Percent"><strong>10%</strong></p>
                        </div>
                        <p class="description">
                            689 million people live in extreme poverty, surviving on less than $1.90 a day. ... 1.3 billion people in 107 developing countries, which account for 22% of the world's population, live in multidimensional poverty. 644 million children are experiencing multidimensional poverty.
                        </p>
                    </div>
                </div>
            </div>

            </div>
            <div class="carousel-item" data-bs-interval="500">    
                <div class="stat-container">
                    <div class="image-container">
                        <div class="image">
                          <img src="../../../assets/images/foodwaste.jpg" alt="" class="img">
                        </div>
                    </div>
                    <div id="foodWaste" class='spinner-holer'>
                        <div class="content">
                                <mat-progress-spinner
                                class="spinner-margin"
                                [color]="color"
                                [mode]="mode"
                                [value]="70"
                                [diameter]="70"
                                [strokeWidth]="10"
                            
                                >
                                
                            </mat-progress-spinner>
                           
                            <div class="description-holder">
                                <div class="percent-holder">
                                    <p class="Percent"><strong>30%</strong></p>
                                </div>
                                    <p class="description">
                                    An estimated 1.3 billion tonnes of food is wasted globally each year, one third of all food produced for human consumption, according to the Food and Agriculture Organization (FAO) of the United Nations.
                                </p>
                            </div>
                        </div>
                        
                    </div>
                </div>
               
    
            </div>
          </div>
        </div>
        <div class="move-btn">
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
            </button>
     </div>
     
</div>


-->

<div class="container">

    <div class="top-section">
        <img class="top-img" src="../../../assets/images/59-594145_blue-wave-vector-png-sky-blue-wave-png.png" alt="blue">
    </div>
    <div class="box-holder">
       <a href='#'>
           <div class="Box" id="events">
                <h1>Events</h1>
            </div>
        </a> 
       <a href="#">
           <div class="Box"  id="Statics">
                <h1>Statics</h1>
            </div>
        </a> 

        <a href="#">
            <div class="Box"  id="gifts">
                <h1>Gifts</h1>
            </div>
        </a>
        <a href="#">
            <div class="Box"  id="Descution-page">
                <h1>Discution</h1>
            </div>
        </a>
    </div>
</div>



