<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />

<nav class="nav">
    <a routerLink="Home" class="nav__link">
 <i class="material-icons nav__icon">home</i>
 <span class="nav__text">home</span>
</a>
<a routerLink="Community" class="nav__link">
 <i class="material-icons nav__icon">groups</i>
 <span class="nav__text">Community</span>
</a>
<a routerLink="Add" class="nav__link" id="add">
 <i class="material-icons nav__icon" id="add-icon">add_circle_outline</i>
 <span class="nav__text">Add</span>
</a>
<!-- ... and more links below -->
     <a routerLink="Location" class="nav__link">
 <i class="material-icons nav__icon">place</i>
 <span class="nav__text">Location</span>
</a>
     <a routerLink="Profile" class="nav__link">
 <i class="material-icons nav__icon">account_circle</i>
 <span class="nav__text">Profile</span>
</a>
</nav>